<form
  class="controls"
  [formGroup]="form">
  <label>
    Delay (ms)
    <input
      min="1"
      formControlName="delay"
      type="number">
  </label>

  <label>
    Array Size
    <input
      min="0"
      formControlName="arraySize"
      type="number">
  </label>

  <label>
    Additional ids
    <input
      formControlName="ids"
      type="text">
  </label>
</form>


<table class="table statistic-table">
  <thead>
  <tr>
    <th>id</th>
    <th>int</th>
    <th>float</th>
    <th>color</th>
    <th>child</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let statistic of statistics$|async; trackBy: trackByStatistic">
    <td>{{statistic.id}}</td>
    <td>{{statistic.int}}</td>
    <td>{{statistic.float}}</td>
    <td [style.backgroundColor]="statistic.color">{{statistic.color}}</td>
    <td>
      <table class="table child-table">
        <thead>
        <tr>
          <th>id</th>
          <th>color</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            {{ statistic.child.id }}
          </td>
          <td [style.backgroundColor]="statistic.child.color">
            {{ statistic.child.color }}
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
